#selector {
  float: left;
  margin-right: 2em;
  padding: 0;
  width: 19em;
}

#selector h2 {
  color: white;
  background-color: #417690;
  padding: 0.5em;
  margin-top: 0;
}

#selector select {
  width: 20em;
}

#selector #gogo {
  width: 20em;
}

section#analysis_result {
  width: 95em;
  margin-left: 20em;
}

section#analysis_result table {
  margin-bottom: 10em;
}

section#analysis_result table caption {
  margin-bottom: 1em;
  font-weight: bold;
}

section#analysis_result table td {
  text-align: center;
}

section#analysis_result td.points {
  background: #F1FAF6;
}

section#logging {
  width: 95em;
  margin-left: 20em;
}

#error_logs {
  width: 90em;
  margin-bottom: 10em;
}

#info_logs {
  width: 90em;
}

